body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(88, 88, 88);
    color: white;
    margin: 0;
}
header{
    background-color: rgb(28, 28, 28);
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}
header a{
margin-left: 5vw;
margin-right: 5vw;
text-decoration: none;
color: white;
}
header a:hover{
    text-decoration: underline;
}
#conteneurbtn{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    width: 80vw;
}
#conteneurbtn a{
    margin: 5%;
    width: 20%;
    height: 5vh;
    background-color: aliceblue;
    text-decoration: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#conteneurbtn a:hover{
    text-decoration: underline;
}